<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <md-card>
    <md-toolbar color="warn">Welcome To Group</md-toolbar>
  <md-card-content >
    <form novalidate>
      <div fxLayout="column">
      <md-input-container class="example-full-width">
        <md-icon mdPrefix>account_circle</md-icon>
    <input mdInput placeholder="User Name" value="Google">
  </md-input-container>
  <md-input-container class="example-full-width">    
        <md-icon mdPrefix>vpn_key</md-icon>
    <input type="password" mdInput placeholder="Password">
  </md-input-container>
  <button color="primary" md-raised-button>Submit</button>
  </div>
    </form>
  </md-card-content>
</md-card>
</div>
